<div class="container extra">
  <div class="row">
    <div class="col-md-6 repo">
      <h2 class="proftitle"> Repositories </h2>
      <div class="form-group">
        <input type="text" class="inputtext" placeholder="Search git users with their username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
      </div>
      <div class="panel panel-default">
        <div class="panel-body" *ngFor="let repo of repos">
          <p> <b>{{repo.name}}</b></p>
          <p><a href="{{repo.html_url}}" class="btn btn-outline-dark btn-sm repobtn pull-right" target="_blank">View repo on github</a></p>
          <p>{{repo.description}}</p>
        </div>
      </div>
    </div>
  </div>
