.header{
/* margin-left: 300px; */
/* display: inline; */
text-align: center;
font-size: 40px;
display: inline-block;
}
.icon{
/* margin-left: 30em; */
display: inline-block;
}
.thehead{
  text-align: center;
}
