.header{
/* margin-left: 300px; */
/* display: inline; */
text-align: center;
font-size: 40px;
display: inline-block;
margin-left: 10px;
}
.icon{
/* margin-left: 30em; */
display: inline-block;
width: 41px;
height: 41px;
margin-bottom: 20px;
}
.thehead{
  text-align: center;
}
