.extra{
  margin-top: 20px;
  margin-left: 10%;
}
.search-form{
  width: 400px;
  margin-left: 33%;
  margin-top: -10px;
  margin-bottom: 30px;
}
.profile{
  margin-left: 0;
}
.image{
  display: inline-block;
  height: 200px;
  width: 200px;
}
.userid{
  display: inline-block;
  margin-left: 25px;
}
.location{
  margin-right: 90px;
  margin-bottom: 25px;
  margin-top: 15px;
}
.details{
  text-align: center;
  margin-bottom: 30px;
  margin-top: -10px;
}
hr{
  width: 100%;
  margin-left: 0;
  margin-top: -15px;
}
.created{
  margin-right: 20%;
  margin-left: 10%;
}
.profbtn{
  border-radius: 25px;
  margin-right: 60px;
}
.proftitle{
  margin-right: 26%;
  margin-bottom: 20px;
  color: #C0B283;
}
.bioalign{
  margin-left: 10px;
}
.repobtn{
  margin-left: 20px;
  border-radius: 25px;
}
.inputtext{
  border-radius: 15px;
  border: 2px solid white;
}
